@import "tailwindcss";

#bg {
    background-color: #ffffff;
    opacity: 1;
    background-image: radial-gradient(#ff8080 0.9px, transparent 0.9px), radial-gradient(#ff00bf 0.9px, #ffffff 0.9px);
    background-size: 36px 36px;
    background-position: 0 0, 18px 18px;
}

#header-bg {
    background: #2A7B9B;
    background: linear-gradient(90deg, rgba(255, 0, 0, 0.7) 0%, rgba(255, 0, 230, 0.7) 100%);
}